# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!gradle/wrapper/*

!profiling/**
!wrk/*

!checkstyle.xml
!.codeclimate.yml
!tank/ammo_gen.py

# ...even if they are in subdirectories
!*/
